.filme-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 25px;
    padding: 30px;
}

.filme-card {
    background: #1b1b1b;
    border-radius: 12px;
    overflow: hidden;
    text-align: center;
    transition: transform .3s;
   
}

.filme-card:hover {
    transform: scale(1.05);
}

.filme-image {
    width: 100%;
    height: 320px;
    object-fit: cover;
}

.filme-card h3 {
    margin: 10px 0;
    font-size: 20px;
}

.filme-card p {
    margin: 5px 0;
    color: #d0d0d0;
}